/*body{background-color: green;}*/
/*(*)작성시 전체 적용*/
*{font-weight: bold; color: darkorange;}
.blue{color: lightblue;}
/*2가지 색상을 넣으면 하위색상이 적용 지정시에는 불가*/
p{color: olivedrab;}
/* p태그 이면서 blue 클래스를 가지고 있는 엘리먼트 선택*/
p.blue{color: slateblue;}
/* p .blue를 띄어 쓰게 되면 P에 속해있는 태그를 지정*/
*{color: plum;}

.blue.dark{color: mediumblue;}
p.blue.dark{color: rgb(13, 193, 13);}

/*ID선택자는 우선순위가 굉장히 높다. !important에 가깝다.*/
#red{color: tomato;}

/*그룹선택자. 그룹선택자일때만 ','를 사용*/
span, .dark, #red {text-decoration: underline;}

span{text-decoration-color: black;}