body{margin: 0;}
section{display: flex; flex-direction: column; height: 100vh; 
color: #fff;
justify-content: center;
align-items: center;
background-color: antiquewhite;}

div {font-size: 1.4em; display: none;}

/*미디어 쿼리(media query)*/

/*스마트폰*/
@media (max-width: 480px) 
{
    section {background-color: tomato;}
    .mobile{display: inherit;} 
}
/*저해상도 태블릿*/
@media (min-width: 481px) and (max-width:767px)
{
    section {background-color: olivedrab;}
    .low-tablet{display: inherit;} 
}
/*태블릿 세로 화면*/
@media (min-width: 768px) and (max-width: 1024px)
{
    section {background-color: darkorchid;}
    .port-tablet{display: inherit;} 
}
/*태블릿 가로 및 저해상도 노트북, pc화면*/
@media (min-width: 1025px) and (max-width: 1280px)
{
    section {background-color: darkorange;}
    .low-pc{display: inherit;} 
}
/*일반 노트북, pc화면*/
@media (min-width: 1281px)
{
    section {background-color: slateblue;}
    .high-pc{display: inherit;} 
}
/*or 조건 사용
0~480px까지 혹은 1281px 이상은 이 색상으로 적용하겠다는 의미 */
@media (max-width: 480px),(min-width: 1281px)
{
    div {color: yellow;}
}
