body { margin: 0; }
#wrapper { display: grid; gap: 12px; }
#wrapper > * { 
    background-color: lightblue;
    padding: 1em;
    font-size: 1.2em;
    color: royalblue;
    font-weight: bold;
}
header { position: relative; min-width: 80px; height: 60px; }
nav ul { padding-left: 0.5em; }
nav li { display: inline-block; margin-right: 1em; color: #333; }
/* #menu { position: absolute; top: 0; right: 0; padding: 0 1em; 
    height: 100px; 
    line-height: 64px; color: #333; cursor: pointer;
} */
 #menu { position: absolute; top: 0; right: 0; padding: 0 1em; 
    height: 100px; display: flex; justify-content: center; 
    align-items: center; 
    color: #333; cursor: pointer; z-index: 3 !important;
}
main div { margin: 1em; padding: 1em; height: 67vh; 
    color: #333; font-weight: normal; 
    background-color: yellow;
}
footer { height: 200px; }

@media (max-width: 768px) {
    #menu:hover::before {
        content: "";
        width: 150px;
        height: 320px;
        position: absolute;
        top: 20px;
        right: 0;
        background-color: #fff;
        z-index: -1;
    }

    nav { display: none; }
    
  
    #menu:hover + nav {
        display: inherit;
        text-align: right;        
    }    

    #menu:hover + nav li { 
        position: relative;
        z-index: 3;
        display: block;
        padding: 0.6em;
    }
}

@media (min-width: 769px) {
    #menu { display: none; }
    #wrapper { grid-template-columns: 200px 1fr; }
    header, footer { grid-column: 1 / -1; }
}